<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Date                 :' + ${Date}" />
    <p th:text="'City                 :' + ${City}" />
    <p th:text="'Description          :' + ${Description}" />
    <p th:text="'TempratureCelcius    :' + ${TempratureCelcius}" />
    <p th:text="'TempratureFahrenheit :' + ${TempratureFahrenheit}" />
    <p th:text="'SunRise              :' + ${SunRise}" />
    <p th:text="'SunSet               :' + ${SunSet}" />
</body>
</html>